.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100%;


    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px 2px;
}

.wrap-table100 {
    width: 100%;
    border-radius: 10px;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #fff;
}

.row.header {
    color: #ffffff;
    background: #c4d3f6;
}

@media screen and (max-width: 768px) {
    .row {
        display: block;
    }

    .row.header {
        padding: 0;
        height: 0px;
    }
	
    .row.header .cell, .row.header .cell2 {
        display: block;
    }

    .row .cell:before, .row .cell2:before {
        font-family: Poppins-Bold;
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;

        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: none;
    }
}

.cell, .cell2 {
    display: table-cell;
}

@media screen and (max-width: 768px) {
    .cell, cell2 {
        display: block;
    }
}

.row .cell, .row .cell2 {
    font-family: Poppins-Regular;
    color: #666666;
    line-height: 1.1;
    font-weight: unset !important;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.row.header .cell, .row.header .cell2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #000;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 10px;
    padding-bottom: 10px;
}
.row .cell2:nth-child(1) {
    width: 50%;
    padding-left: 40px;
}

.row .cell2:nth-child(2) {
    width: 50%;
}

.row .cell:nth-child(1) {
    width: 250px;
    padding-left: 40px;
}

.row .cell:nth-child(2) {
    width: 250px;
}

.row .cell:nth-child(3) {
    width: 250px;
}

.row .cell:nth-child(4) {
    width: 250px;
}


.table, .row {
    width: 100% !important;
}

.row:hover {
    background-color: #ececff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .row {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 18px;
        padding-top: 30px;
        padding-right: 15px;
        margin: 0;
    }

	.row.header {
		color: #ffffff;
		background: #c4d3f6;
	}

    .row .cell, .row .cell2 {
        border: none;
        padding-left: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .row .cell:nth-child(1), .row .cell2:nth-child(1) {
        padding-left: 30px;
    }

    .row .cell, .row .cell2 {
        font-family: Poppins-Regular;
        font-size: 14px;
        color: #555555;
        line-height: 1.0;
        font-weight: unset !important;
    }

    .table, .row, .cell, .cell2 {
        width: 100% !important;
    }
}

table {
    border: 0px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border: 0px solid #ddd;
    padding: 5px;
}

table th,
table td {
    padding: 2px;
    text-align: left;
}

table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

/* <= 568px */
@media screen and (max-width: 35.5em) {
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    table td:last-child {
        border-bottom: 0;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}
.moduleRow {
    background-color: #E5E9BB;
    text-align: left;
}
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; }
.moduleRowSelected { background-color: #E9F4FC; }
.footer {
    background-image: url(../images/footer_bg.jpg);
    text-align: center;
    font-size: 10px;
    border-right: 1px solid #90C3F6;
    border-left: 1px solid #90C3F6;
    border-bottom: 1px solid #90C3F6;
}
.footertop, .footerbottom {
    padding: 5px;
}
.footertop {
    background: #abbbd3;
    background-image: url(../images/footer_top_bg.gif);
    font-size: 11px;
}